* {
  box-sizing: border-box;
}

body {
  font-family: "Cascadia Code", "Source Code Pro", "Victor Mono", monospace;
    font-size: 16px;
    color: firebrick;
}

.container {
  width: 600px;
  margin: 20px auto;
}

form input {
  padding: 5px 10px;
  margin-right: 20px;
}

button {
  width: 100px;
  padding: 5px 10px;
  border: 1px solid gray;
    border-radius: 5px;
}

.todo-list {
  margin-top: 20px;
}